---
title: "Home"
message: We have lots of cool stuff
promotions:
 one:
  title: "Promotion 1"
 two:
  title: "Promotion 2"
 three:
  title: "Promotion 3"
navTags:
 - header
 - footer
navLabel: Home
navSort: 0
changefreq: daily
priority: 1
updated: 2014-10-30
---
<h1>{{title}}</h1>
<p>{{message}}</p>
{{log promotions}}
<ul>
    {{#each promotions}}
        <li>{{title}}</li>
    {{/each}}
</ul>
