<div>
    {{#each navTags}}
        {{#is navTag "header"}}
            {{#withSort pages 'data.navSort'}}
                <a href="{{relativeLink}}">{{data.navLabel}}</a>{{#unless last}} |{{/unless}}
            {{/withSort}}
        {{/is}}
    {{/each}}
</div>